<table mat-table [dataSource]="students" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Editar Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Editar</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        matTooltip="Editar"
        matTooltipPosition="before"
        aria-label=" Boton para Editar la entrada actual"
        color="warn"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="edit"
        ></mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Nomber Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Apellido Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>

  <!-- Correo Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Correo</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Telefono Column -->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Telefono</th>
    <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
  </ng-container>

  <!-- Eliminar Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Eliminar</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        (click)="onDelete(element)"
        matTooltip="Editar"
        matTooltipPosition="before"
        aria-label=" Boton para Editar la entrada actual"
        color="warn"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="delete"
        ></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
