<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [(opened)]="opened">
    <h1>CH</h1>
    <mat-list>
      <!-- <a mat-list-item routerLink="/students">Estudiantes</a> -->
      <a
        mat-list-item
        *ngFor="let item of menuItem"
        [routerLink]="item.path"
        routerLinkActive="active"
      >
        {{ item.label }}</a
      >
    </mat-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-toolbar (drawerToggler)="drawer.toggle()" />
    <main class="content">
      <!-- Mostrar aqui las paginas -->
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>
